#content {
    min-width: 600px;
    max-width: 800px;
    margin: auto;
    padding-bottom: 100px;
}

#header {
    margin: 0 0 10px;
}

.right {
    float: right;
}

.right > a {
    text-decoration: none;
    color: black;
}

.left {
    float: left;
}

.centered {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.errorPageInfo {
    text-align: center;
}

#nav {
    list-style-type: none;
    padding: 10px 0 0 0;
    margin: 0 0 50px;
}

#nav li {
    display: inline;
}

#nav li a {
    display: inline;
    padding: 8px 15px;
    text-decoration: none;
    font-weight: bold;
    color: #000;
    border-left: 1px solid #ccc;
}

.author {
    font-style: italic;
    float: right;
}

.comments-info, .adm-edit {
    margin-left: 5px;
    text-decoration: none;
    color: #000;
}

.adm-btn {
    display: inline-block;
}

.comment {
    background-color: #eef;
    border-radius: 10px;
    padding: 10px;
    display: block;
    margin: 0 0 30px;
}

.quote {
    background-color: #eee;
    border-radius: 10px;
    padding: 10px;
    display: block;
    margin: 0 0 30px;
}

.quote-text, .comment-text {
    text-indent: 25px;
    text-align: justify;
}

.rating-info > * {
    display: inline-block;
    text-align: center;
}

.rating-up, .rating-down {
    width: 25px;
}

.rating {
    margin: 0 3px;
}

.error-message {
    color: red;
}

#localeForm {
    display: inline-block;
}